drf-yasg==1.21.5
environs==9.5.0
flake8==6.0.0
payme-pkg>=2.6.*
pip-chill==1.0.1
django-unfold~=0.21.1
Django~=5.0.3
djangorestframework~=3.14.0
django-import-export~=3.3.7
django-guardian~=2.4.0
django-simple-history~=3.5.0
