{% extends "base.html" %}

{% load static %}

{% block content %}
    <!-- header section starts     -->
    {% include "sections/header.html" %}
    <!-- header section ends    -->

    <!-- home section starts  -->
    {% include "sections/home.html" %}
    <!-- home section ends -->

    <!-- about section starts  -->
    {% include "sections/about.html" %}
    <!-- about section ends  -->

    <!-- food section starts  -->
    {% include "sections/food.html" %}
    <!-- food section ends  -->

    <!--footer section starts  -->
    {% include "sections/footer.html" %}
    <!--footer section ends  -->

{% endblock %}