{% load static %}
<!-- about section starts -->
<section class="about" id="about">
    <div class="image">
        <img src="{% static 'images/about-img.png' %}" alt="">
    </div>

    <div class="content">
        <h3 class="title">welcome to our restaurant</h3>
        <p>We have a very old family tradition: once a month we pay a visit to the restaurant for a family dinner. It is
            a great chance to spend the evening out of our usual setting. What is more, it is a good chance to have fun
            and get away from the routine we get tired of and enjoy some time with the family.</p>

        <div class="icons-container">
            <div class="icons">
                <img src="{% static 'images/about-icon-1.png' %}" alt="">
                <h3>quality food</h3>
            </div>
            <div class="icons">
                <img src="{% static 'images/about-icon-2.png' %}" alt="">
                <h3>food & drinks</h3>
            </div>
            <div class="icons">
                <img src="{% static 'images/about-icon-3.png' %}" alt="">
                <h3>expert chefs</h3>
            </div>
        </div>
    </div>
</section>
<!-- about section ends -->
