<!-- footer section starts  -->

<section class="footer">

    <div class="icons-container">

        <div class="icons">
            <i class="fas fa-clock"></i>
            <h3>opening hours</h3>
            <p>24h</p>
        </div>

        <div class="icons">
            <i class="fas fa-phone"></i>
            <h3>phone</h3>
            <p>+123-456-7890</p>
            <p>+111-222-3333</p>
        </div>

        <div class="icons">
            <i class="fas fa-envelope"></i>
            <h3>email</h3>
            <p>amazingfoodseng@gmail.com</p>
            <p>amazingfoodsuz@gmail.com</p>
        </div>

        <div class="icons">
            <i class="fas fa-map"></i>
            <h3>address</h3>
            <p>Tashkent, Uzbekistan - 400104</p>
        </div>

    </div>

    <div class="share">
        <a href="https://t.me/JapanFoods" class="fab fa-telegram"></a>
        <a href="https://twitter.com/foods_japan" class="fab fa-twitter"></a>
    </div>

    <div class="credit"> © 2022 Amazing Foods </div>

</section>

<!-- footer section ends  -->
