 <!-- header section starts     -->

 <section class="header">

    <a href="index.html" class="logo"> <i class="fas fa-utensils"></i> food. </a>
 
    <nav class="navbar">
       <a href="index.html#home">home</a>
       <a href="index.html#about">about</a>
       <a href="index.html#food">food</a>
       <a href="index.html#gallery">gallery</a>
       <a href="index.html#menu">menu</a>
       <a href="index.html#order">order</a>
       <a href="index.html#blogs">blogs</a>
    </nav>
 
    <div id="menu-btn" class="fas fa-bars"></div>
 
 </section>
 
<!-- header section ends    -->