{% load static %}
<!-- home section starts  -->
<section class="home" id="home">
    <div class="swiper home-slider">
        <div class="swiper-wrapper">

            <div class="swiper-slide slide" style="background: url('{% static 'images/home-slide-1.jpg' %}') no-repeat;">
                <div class="content">
                    <span>outstanding food</span>
                    <h3>delicious cooking</h3>
                    <a href="index.html#" class="btn">get started</a>
                </div>
            </div>

            <div class="swiper-slide slide" style="background: url('{% static 'images/home-slide-2.jpg' %}') no-repeat;">
                <div class="content">
                    <span>outstanding food</span>
                    <h3>morning moment</h3>
                    <a href="index.html#" class="btn">get started</a>
                </div>
            </div>

            <div class="swiper-slide slide" style="background: url('{% static 'images/home-slide-3.jpg' %}') no-repeat;">
                <div class="content">
                    <span>outstanding food</span>
                    <h3>authentic kitchen</h3>
                    <a href="index.html#" class="btn">get started</a>
                </div>
            </div>

        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>
<!-- home section ends -->
