<!-- order section starts  -->
<section class="order" id="order">
    <div class="heading">
        <span>order now</span>
        <h3>fast home delivery</h3>
    </div>

    <form action="index.html" method="POST">
        <input type="hidden" name="csrfmiddlewaretoken"
            value="kTNNbZXymO2HHSohWdHseV1SlI9Hal318AVD5iCSv9vET0OFwJMNcdzWnpb31Yhu">
        <div class="box-container">
            <div class="box">

                <div class="inputBox">
                    <span>full name</span>
                    <input type="text" name="fullname" placeholder="enter your name">
                </div>

                <div class="inputBox">
                    <span>food name</span>
                    <input type="text" name="foodname" placeholder="food you want">
                </div>

                <div class="inputBox">
                    <span>order details</span>
                    <input type="text" name="detail" placeholder="specifics with food">
                </div>

                <div class="inputBox">
                    <span>your address</span>
                    <textarea name="address" placeholder="enter your address" id="" cols="30" rows="10"></textarea>
                </div>
            </div>

            <div class="box">
                <div class="inputBox">
                    <span>number</span>
                    <input type="number" name="number" placeholder="enter your number">
                </div>
                <div class="inputBox">
                    <span>how much</span>
                    <input name="how_much" type="number" placeholder="how many you want">
                </div>
                <div class="inputBox">
                    <span>when you want</span>
                    <input name="date" type="datetime-local">
                </div>
                <div class="inputBox">
                    <span>our address</span>
                    <iframe class="map"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d60307.59083109428!2d72.840725!3d19.141651!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b63aceef0c69%3A0x2aa80cf2287dfa3b!2sJogeshwari%20West%2C%20Mumbai%2C%20Maharashtra%20400047!5e0!3m2!1sen!2sin!4v1642222128240!5m2!1sen!2sin"
                        allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
        <input type="submit" value="order now" class="btn">
    </form>

</section>
